---
// import pomoLogo from '../assets/POMO_logo.png';
import AnimatedSubtitle from '../components/AnimatedSubtitle.svelte'
---

<div id="container" class="">
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
	<main class="">
		<section id="hero" class="mb-24">
			<div class="mb-4 text-center space-y-2">
				<h1 class="font-extrabold text-5xl sm:text-6xl text-center">Welcome to <span class="text-accent">LunarHat</span></h1>
				<AnimatedSubtitle client:load />
			</div>
			<!-- <p class="text-lg mt-6 uppercase text-white/15 font-bold">Projects</p>
			<div class="flex justify-center space-x-5 w-full max-w-[400px] mt-4">
				<a class="">
					<img src={pomoLogo.src} class="w-1/5 min-w-[80px] h-1/5 min-h-[80px] rounded-3xl p-4 transition hover:bg-white/10">
				</a>
			</div> -->
		</section>
	</main>
</div>